<!DOCTYPE html>
<html>
    <head>
        <title>
            Python button script
        </title>
    </head>
    <body>
        <button onclick="location.href='{% url 'script' %}'">Execute Script</button> <hr>
        {% if data %}

        {{data | safe}}

        {% endif %}

        </body>
</html>