{% extends 'base/base.html' %}
{% load static %} 
{% block title %}Zonas {% endblock %}
{% block content %}
<style>
.hero_media {
    max-height: 110px;
    overflow: hidden;
    margin-bottom: 10px;
    position: relative;}

.card{
	padding-top: 15px;
}

.zonas {
    max-height: 80vh;
    overflow: scroll;
		width: 110%;
}

.card:hover {
    border-color: #ced4da;
    background-color: #f2f2f2;}
</style>
<div class="container">

</div>
<div class="container">
	{% if zona_list %}
	<form action="zonassimple" method="GET" target="_blank">
		{% csrf_token %}
		<div class="row zona">
			<div class="col-12 text-center">
				<h2>Zonas BOGOTA</h2>
				<input class="" checked hidden type="checkbox" name="zona" id="zona0" value="">
			</div>
			<div class="row" class="hero">
				<div class="col-2"></div>
				<div class="col-4 hero_media  hero_candidato"><img  class="img-fluid" src="{% static 'img/1196002.jpg' %}" alt=""></div>
				<div class="col-4 hero_media hero_oponente"><img class="img-fluid" src="{% static 'img/0087003.jpg' %}" alt=""></div>
				<div class="col-2"><button type="submit" class="btn btn-large btn-primary float-right">Siguiente >></button>			
</div>

			</div>
			<div class="col-12 row">
				<div class="col-2"></div>
				<div class="col-12 col-md-3">
					<select class="form-control" name="candidato">
						<option value="1196002" selected>CLAUDIA</option>
					</select>
				</div>
				<div class="col-12 col-md-2 text-center">VS</div>
				<div class="col-12 col-md-3">
					<select class="form-control" name="opositor" >
						<option value="0087003" selected>GALAN</option>
						<option value="1763001" selected>HOLAM</option>
						<option value="1566004" selected>MIGUEL URIBE</option>
					</select>
				</div>
				<div class="col-2"></div>
			</div>
		</br>
		</hr>
		</br>
		<div class="row zonas">
			{% for zona in zona_list %}
			<div class="card col-12 col-md-3 col-xs-2">
				<div class="form-group">
					<label>
						{% if  zona.comuna_name != '                              '%}
						<h4>{{ zona.comuna_name}}</h4>
						{% else %}
						<h4>LOCALIDAD {{ zona.cod_zona}}</h4>
						{% endif %}
						<input class="" type="checkbox" name="zona" id="zona{{forloop.counter}}" value="{{zona.cod_zona}}">
						Todos los Puestos
					</label>
					<span>PUESTO: </span>
					<select class="form-control" multiple name="puesto" id="puesto{{forloop.counter}}">
							<option value="0000000000">
									Ninguno de esta Zona
							</option>
							{% for puesto in puesto_list %}
							{% if puesto.cod_zona == zona.cod_zona %}
									<option value="{{puesto.idpuesto}}">
									{{puesto.cod_puesto}} - {{puesto.puesto_name}}
									</option>
								{% endif %}
							{% endfor %}
					</select>
					<!--<div class="checkbox">
							<label title="{{zona.cod_zona}}">
									<input type="checkbox" name="puesto" id="zona{{forloop.counter}}" value="zona{{zona.cod_zona}}">
									TODOS LOS PUESTOS
							</label>
							{% for puesto in puesto_list %}
								{% if puesto.cod_zona == zona.cod_zona %}
								<label title="{{puesto.cod_puesto}}">
									<input type="checkbox" name="puesto" id="puesto{{forloop.counter}}" value="{{puesto.idpuesto}}">
									{{puesto.puesto_name}}
								</label>
								{% endif %}
							{% endfor %}
					</div>-->
				</div>
			</div>
			{% endfor %}
		</div>
		<div class="row option option--footer" style="padding-bottom: 15px;">
			<div class="form-group col-12">
					<button type="submit" class="btn btn-large btn-primary float-right">Siguiente >></button>			
			</div>
		</div>
	</form>
	{% else %}
	<h1>No hay registros de votos</h1>
	{% endif %}
</div>
{% endblock%}