{% extends 'base/base.html'%}

{% block title %} Formulario de Indicadores {% endblock %}


{% block content %}

<form method="post">
 {% csrf_token %}
 {{form.as_p}}
 <button type="submit"> Guardar </button>
 <button onclick="location.href='{% url 'script' %}'">Execute Script</button> <hr>
        {% if data %}
        {{data | safe}}
        {% endif %}


</form>

 {% endblock %}