{% extends 'base/base.html' %}
{% load mathfilters %}
{% block title %}Zonas {% endblock %}
{% block content %}
{% regroup mesas_list by no_mesa as mesas_numero %}
<style>
.no_mesa {
    position: relative;
}

.no_mesa summary {
    font-size: 10px;
    position: absolute;
    top: 18px;
    left: 1px;
}
.mensaje {
    font-weight: bold;
}

.table td {
  padding: 5px !important;
}

.thead {
  font-weight: bolder;
  background-color: #efefef;
}

.thead--small td {
    font-size: 10px;
    font-weight: lighter;
}

.detalle {
    font-size: 10px;
    position: relative;
    left: 5px;
    border-left: 5px solid #efefef;
}

body {
  font-size: 13px;
  background-color: #252525;
  zoom: 1.2;
}

body .container {
  background-color: white;
  max-width: 210mm;
  margin-top: 2cm;
  min-height: 297mm;
}

@media print {
  body .container {
    margin-top: auto;
  }
  .mensaje {
    font-weight: lighter;
  }
}
</style>
<div class="">
  <table class="table">
    <thead>
      <tr><th colspan="10">REPORTE NOVEDADES POR MESA {{candidato}} VS {{opositor}}</th></tr>
      <tr><th colspan="2">Zona</th><th colspan="4">Puesto</th><th colspan="2">Cod Puesto</th><th colspan="2">Cantidad de Mesas</th></tr>
    </thead>
    <tbody>
        {% if puestos_list %}
          {%for puesto in puestos_list %}
          {%with novedad=false %}
          <tr class="thead">
              <td colspan="2">{{puesto.comuna_name}}</td>
              <td colspan="4">{{puesto.puesto_name}}</td>
              <td colspan="2">Puesto: {{puesto.cod_puesto}}</td>
              <td colspan="2">Cant.Mesas: {{puesto.no_mesas}}</td>
          </tr>
            {%for mesas in mesas_numero %}
              {%for mesa in mesas.list %}
                {% if mesa.cod_candidato.codigoc == candidato and mesa.puesto_id == puesto.idpuesto %}
                    {%if mesa.mmvs.testigos > mesa.mmvs.preconteo %}
                    <tr class="mensaje">
                        <td colspan="2">Mesa {{mesa.no_mesa}}</td>
                        <td colspan="6">Quitaron {{mesa.mmvs.testigos|sub:mesa.mmvs.preconteo}} votos para {{mesa.cod_candidato}}</td>
                        <td colspan="1">Testigo: {{mesa.mmvs.testigos}}</td>
                        <td colspan="1">Preconteo: {{mesa.mmvs.preconteo}}</td>
                    </tr>
                    {%endif%}
                    {%if mesa.mmvs.preconteo > mesa.mmvs.escrutinional1 == True and  mesa.mmvs.escrutinional1 > 0 %}
                    <tr class="mensaje">
                        <td colspan="2" class="message_add"><small style="font-size:10px;"><strong>Mesa {{mesa.no_mesa}}</strong> Escrutinio 1</small></td>
                        <td colspan="6">Quitaron {{mesa.mmvs.preconteo|sub:mesa.mmvs.escrutinional1}} votos para {{mesa.cod_candidato}}</td>
                        <td colspan="1">Preconteo: {{mesa.mmvs.preconteo}}</td>
                        <td colspan="1">Escrutinio: {{mesa.mmvs.escrutinional1}}</td>
                    </tr>
                    {%endif%}
                    {%if mesa.mmvs.escrutinional1 > mesa.mmvs.escrutiniocd1 %}
                    <tr class="mensaje">
                        <td colspan="2" class="message_add"><small style="font-size:10px;">Mesa {{mesa.no_mesa}} Escrutinio 1</small></td>
                        <td colspan="6">Quitaron {{mesa.mmvs.escrutinional1|sub:mesa.mmvs.escrutiniocd1}} votos para {{mesa.cod_candidato}}</td>
                        <td colspan="1">Nacional 1: {{mesa.mmvs.escrutinional1}}</td>
                        <td colspan="1">CD 1: {{mesa.mmvs.escrutiniocd1}}</td>
                    </tr>
                    {%endif%}
                    {%if mesa.mmvs.escrutinional2 > mesa.mmvs.escrutiniocd2 %}
                    <tr class="mensaje">
                        <td colspan="2" class="message_add"><small style="font-size:10px;">Mesa {{mesa.no_mesa}} Escrutinio 1</small></td>
                        <td colspan="6">Quitaron {{mesa.mmvs.escrutinional2|sub:mesa.mmvs.escrutiniocd2}} votos para {{mesa.cod_candidato}}</td>
                        <td colspan="1">Nacional 2: {{mesa.mmvs.escrutinional2}}</td>
                        <td colspan="1">CD 2: {{mesa.mmvs.escrutiniocd2}}</td>
                    </tr>
                    {%endif%}
                    {%if mesa.mmvs.escrutinional3 > mesa.mmvs.escrutiniocd3 %}
                    <tr class="mensaje">
                        <td colspan="2" class="message_add"><small style="font-size:10px;">Mesa {{mesa.no_mesa}} Escrutinio 1</small></td>
                        <td colspan="6">Quitaron {{mesa.mmvs.escrutinional3|sub:mesa.mmvs.escrutiniocd3}} votos para {{mesa.cod_candidato}}</td>
                        <td colspan="1">Nacional 3: {{mesa.mmvs.escrutinional3}}</td>
                        <td colspan="1">CD 3: {{mesa.mmvs.escrutiniocd3}}</td>
                    </tr>
                    {%endif%}
                    {%if mesa.mmvs.escrutinional4 > mesa.mmvs.escrutiniocd4 %}
                    <tr class="mensaje">
                        <td colspan="2" class="message_add"><small style="font-size:10px;">Mesa {{mesa.no_mesa}} Escrutinio 1</small></td>
                        <td colspan="6">Quitaron {{mesa.mmvs.escrutinional4|sub:mesa.mmvs.escrutiniocd4}} votos para {{mesa.cod_candidato}}</td>
                        <td colspan="1">Nacional 4: {{mesa.mmvs.escrutinional4}}</td>
                        <td colspan="1">CD 4: {{mesa.mmvs.escrutiniocd4}}</td>
                    </tr>
                    {%endif%}
                {%endif%}
              {% endfor %}
            {%endfor%}
            {%for mesas in mesas_numero %}
              {%for mesa in mesas.list %}
                {% if mesa.cod_candidato.codigoc == opositor and mesa.puesto_id == puesto.idpuesto %}
                    {%if mesa.mmvs.testigos < mesa.mmvs.preconteo %}
                      {%with mensaje='Agregaron' %}
                      <tr class="mensaje">
                          <td colspan="2">Mesa {{mesa.no_mesa}}</td>
                          <td colspan="6">{{mensaje}} {{mesa.mmvs.preconteo|sub:mesa.mmvs.testigos}} votos para {{mesa.cod_candidato}}</td>
                          <td colspan="1">Testigo: {{mesa.mmvs.testigos}}</td>
                          <td colspan="1">Preconteo: {{mesa.mmvs.preconteo}}</td>
                      </tr>
                      {%endwith%}
                    {%endif%}
                    {%if mesa.mmvs.preconteo < mesa.mmvs.escrutinional1 == True and escrutinional1 > 0 == False %}
                    <tr class="mensaje">
                        <td colspan="2" class="message_add"><small style="font-size:10px;">Mesa {{mesa.no_mesa}} Escrutinio 1</small></td>
                        <td colspan="6">Quitaron {{mesa.mmvs.preconteo|sub:mesa.mmvs.escrutinional1}} votos para {{mesa.cod_candidato}}</td>
                        <td colspan="1">Preconteo: {{mesa.mmvs.preconteo}}</td>
                        <td colspan="1">Nacional 1: {{mesa.mmvs.escrutinional1}}</td>
                    </tr>
                    {%endif%}
                    {%if mesa.mmvs.escrutinional1 < mesa.mmvs.escrutiniocd1 %}
                    <tr class="mensaje">
                        <td colspan="2" class="message_add"><small style="font-size:10px;">Mesa {{mesa.no_mesa}} Escrutinio 1</small></td>
                        <td colspan="6">Quitaron {{mesa.mmvs.escrutinional1|sub:mesa.mmvs.escrutiniocd1}} votos para {{mesa.cod_candidato}}</td>
                        <td colspan="1">Nacional 1: {{mesa.mmvs.escrutinional1}}</td>
                        <td colspan="1">CD 1: {{mesa.mmvs.escrutiniocd1}}</td>
                    </tr>
                    {%endif%}
                    {%if mesa.mmvs.escrutinional2 < mesa.mmvs.escrutiniocd2 %}
                    <tr class="mensaje">
                        <td colspan="2" class="message_add"><small style="font-size:10px;">Mesa {{mesa.no_mesa}} Escrutinio 1</small></td>
                        <td colspan="6">Quitaron {{mesa.mmvs.escrutinional2|sub:mesa.mmvs.escrutiniocd2}} votos para {{mesa.cod_candidato}}</td>
                        <td colspan="1">Nacional 2: {{mesa.mmvs.escrutinional2}}</td>
                        <td colspan="1">CD 2: {{mesa.mmvs.escrutiniocd2}}</td>
                    </tr>
                    {%endif%}
                    {%if mesa.mmvs.escrutinional3 < mesa.mmvs.escrutiniocd3 %}
                    <tr class="mensaje">
                        <td colspan="2" class="message_add"><small style="font-size:10px;">Mesa {{mesa.no_mesa}} Escrutinio 1</small></td>
                        <td colspan="6">Quitaron {{mesa.mmvs.escrutinional3|sub:mesa.mmvs.escrutiniocd3}} votos para {{mesa.cod_candidato}}</td>
                        <td colspan="1">Nacional: {{mesa.mmvs.escrutinional3}}</td>
                        <td colspan="1">CD 3: {{mesa.mmvs.escrutiniocd3}}</td>
                    </tr>
                    {%endif%}
                    {%if mesa.mmvs.escrutinional4 < mesa.mmvs.escrutiniocd4 %}
                    <tr class="mensaje">
                        <td colspan="2" class="message_add"><small style="font-size:10px;">Mesa {{mesa.no_mesa}} Escrutinio 1</small></td>
                        <td colspan="6">Quitaron {{mesa.mmvs.preconteo|sub:mesa.mmvs.escrutinional1}} votos para {{mesa.cod_candidato}}</td>
                        <td colspan="1">Nacional 4: {{mesa.mmvs.escrutinional4}}</td>
                        <td colspan="1">CD 4: {{mesa.mmvs.escrutiniocd4}}</td>
                    </tr>
                    {%endif%}
                {%endif%}
              {% endfor %}
            {%endfor%}
            {%endwith%}
          {%endfor%}
        {% endif %}
    </tbody>
  </table>
  <div class="divider"></div>
  <div class="row" style="margin-top: 25px;">
    <details class="col-12">
      <summary>Detalle Consulta</summary>
      <p>Zonas : {{zonas}}</p>
      <p>Puestos : {{puestos}}</p>
    </details>
  </div>

</div>
{% endblock%}