{% extends 'base/base.html' %}
{% block title %}Zonas {% endblock %}
{% block content %}
{% regroup mesas_list by no_mesa as mesas_numero %}
<style>
.no_mesa {
    position: relative;
}

.no_mesa summary {
    font-size: 10px;
    position: absolute;
    top: 18px;
    left: 1px;
}
.mensaje {
    font-weight: bold;
}

.thead {
  font-weight: bolder;
  background-color: #efefef;
}
</style>
<div class="container">
  <table class="table">
    <thead>
      <tr><th colspan="10">Lista de Zonas BOGOTA</th></tr>
      <tr><th colspan="2">Zona</th><th colspan="4">Puesto</th><th colspan="2">Cod Puesto</th><th colspan="2">Cant. Mesas</th></tr>
    </thead>
    <tbody>
        {% if puestos_list %}
          {%for puesto in puestos_list %}
          <tr class="thead">
              <td colspan="2">{{puesto.comuna_name}}</td>
              <td colspan="4">{{puesto.puesto_name}}</td>
              <td colspan="2">{{puesto.cod_puesto}}</td>
              <td colspan="2">{{puesto.no_mesas}}</td>
          </tr>
          <tr class="thead">
            <td colspan=""># Mesa</td>
            <td colspan="">Candidato</td>
            <td colspan="">Votos</td>
            <td colspan="">Votos2</td>
            <td colspan="">Escrutinio 1</td>
            <td colspan="">Escrutinio 2</td>
            <td colspan="">Escrutinio 3</td>
            <td colspan="">Escrutinio 4</td>
            <td colspan="">Preconteo 1</td>
            <td colspan="">Preconteo 2</td>
          </tr>
            {%for mesas in mesas_numero %}
              {%for mesa in mesas.list %}
                {% if mesa.puesto_id == puesto.idpuesto %}
                  <tr>
                    <td class="no_mesa">{{mesa.no_mesa}} <details><summary></summary>{{mesa.codigo}}</details></td>
                    <td><small>{{mesa.cod_candidato}}</small></td>
                    <td>{{mesa.mmvs.votos}}</td>
                    <td>{{mesa.mmvs.votos2}}</td>
                    <td>{{mesa.mmvs.escrutinio1}}</td>
                    <td>{{mesa.mmvs.escrutinio2}}</td>
                    <td>{{mesa.mmvs.escrutinio3}}</td>
                    <td>{{mesa.mmvs.escrutinio4}}</td>
                    <td>{{mesa.mmvs.preconteo}}</td>
                    <td>{{mesa.mmvs.testigos}}</td>
                  </tr>
                    {%if mesa.mmvs.votos != mesa.mmvs.votos2 %}
                      {%with mensaje='Antentos Votos 1 es Diferente a Votos 2' %}
                      <tr class="mensaje">
                          <td colspan="2">Alerta Mesa {{mesa.no_mesa}}</td>
                          <td colspan="8">{{mensaje}}</td>
                        </tr>
                      {%endwith%}
                    {%endif%}
                {%endif%}
              {% endfor %}
            {%endfor%}
          {%endfor%}
        {% endif %}
    </tbody>
  </table>
  <h1>Detalle de Votaciones</h1>
  <p>Zonas : {{zonas}}</p>
  <p>Puestos : {{puestos}}</p>
</div>
{% endblock%}